.center-alignment
  = simple_form_for(@notice) do |f|

    .form-inputs
      = f.input :title

      = f.input :description, as: :text

      = f.input :reduced_description, as: :text

      = f.input :reference

      = f.association :courses, as: :check_boxes

    .form-actions
      = f.button :submit, 'Gravar'
