.page-header
  %h1
    Editar
    %small= current_user.name

.center-alignment
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, required: true, autofocus: true
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      = f.input :password, autocomplete: "off", hint: "Deixe em branco, se não quiser alterar", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: "precisamos de sua senha atual, para confirmarmos suas alterações", required: true
    .form-actions
      = f.button :submit, "Atualizar", class: 'btn-danger'
