= form_for @enterprise do |f|
 = f.label :corporate_name
 %br
 = f.text_field :corporate_name
 %br

 = f.label :fantasy_name
 %br
 = f.text_field :fantasy_name
 %br

 = f.label :site
 %br
 = f.text_field :site
 %br

 = f.submit 'Enviar'
