.center-alignment
  = simple_form_for(@enterprise) do |f|

    .form-inputs
      = f.input :corporate_name

      = f.input :fantasy_name

      = f.input :site

    .form-actions
      = f.button :submit, 'Enviar', class: 'btn-danger'
