.page-header
  %h1 Cursos
  = link_to 'Adicionar', new_course_path
- unless @courses.empty?
  %table.table.table-hover
    %thead
      %tr
        %td= :name
        %td= :abreviation
        %td{ colspan: 2 }
    %tbody
      - @courses.each do |course|
        %tr
          %td= course.name
          %td= course.abreviation
          %td= link_to 'Editar', edit_course_path(course)
          %td
            = link_to 'Apagar', course_path(course), method: :delete, data: { confirm: "Deseja excluir a empresa #{course.name}?" }
- else
  .alert.alert-warning{ role: "alert" }
    Não há cursos cadastradas
