.center-alignment
  = simple_form_for([:admin, @user]) do |f|
    .form-inputs
      = f.input :name
      = f.input :role, collection: @roles, include_blank: false
      = f.input :email, as: :email

      - if action_name != 'edit'
        = f.input :password, as: :password

    .form-actions
      = f.button :submit, t('submit'), class: 'btn-danger'
